header{
    display: grid;
    height: auto;
    padding-top: 1%;
    grid-template: 1fr / 1fr 1fr;
}
header a{
    color: #6F7DFF;
    text-decoration: none;
    font-size: 14px;
    padding-left: 0.5rem;
}
.headerLogo{
    justify-self: center;
}
.headerLogo img{
    width: 50%;
    padding-right: 22%;
    height: auto;
}
.contactUs{
    width: 39.1%;
    justify-self: flex-end;
    margin-right: 4.3%;
    align-self: center;
    color: #333333;
}
.contactUs span{
    font-size: 12px;
    padding-right: 4%;
}