body {
  margin: 0;
  font-family:'Lato', sans-serif;
  -moz-osx-font-smoothing: grayscale;
}
span{
  color: #676F8F;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
